    <!-- Section: intro -->
    <section id="intro" class="intro">
 
 <div class="container">

        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                                <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row"
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel-slider">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        
                                        <img src="./bundles/app/img/carousel/1.png" class="img-responsive" style="width:auto; height:600px; margin-left:auto; margin-right:auto; "></div>

                                        <div class="item" data-slide-number="1">
                                        <img src="./bundles/app/img/carousel/2.png" class="img-responsive" style="width:auto; height:600px; margin-left:auto; margin-right:auto; "></div>

                                        <div class="item" data-slide-number="2">
                                        <img src="./bundles/app/img/carousel/3.png" class="img-responsive" style="width:auto; height:600px; margin-left:auto; margin-right:auto; "></div>

                                        <div class="item" data-slide-number="3">
                                        <img src="./bundles/app/img/carousel/4.png" class="img-responsive" style="width:auto; height:600px; margin-left:auto; margin-right:auto; "></div>

                                        <div class="item" data-slide-number="4">
                                        <img src="./bundles/app/img/carousel/5.png" class="img-responsive" style="width:auto; height:600px; margin-left:auto; margin-right:auto; "></div>

                                        <div class="item" data-slide-number="5">
                                        <img src="./bundles/app/img/carousel/6.png" class="img-responsive" style="width:auto; height:600px; margin-left:auto; margin-right:auto; "></div>
                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel-slider" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel-slider" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                    </a>                                
                                    </div>
    </section>
    <!-- /Section: intro -->