    <section id="store" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.2s">
                    <div class="section-heading">
                    <h2>Products</h2>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Audio</h5>
                        <div class="avatar">
                        <img src="./images/soundbar.png" alt="" class="img-responsive img-square" />
                        </div>
                            <div class="description"> 
                                <p> High quality audio products</p>
                            </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="0.5s">
                <div class="team boxed-grey">
                    <div class="inner">
                        <h5> TABLETS & TECHNOLOGY </h5>
                        <div class="avatar">
                        <img src="./images/tablets.jpg" alt="" class="img-responsive img-square" />
                        </div>
                            <div class="description">
                                <p> Range of tablets blah blah  
                            </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="0.8s">
                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>GADGETS - OSOTTOY</h5>
                          <div class="avatar">
                            <img src="./images/toys_and_gadtets.jpg" alt="" class="img-responsive img-square"/>
                         </div>
                            <div class="description"> 
                                <p>Range of Gadgets and kids toys</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="1s">
                <div class="team boxed-grey">
                    <div class="inner">
                        <h5><a href="#">REGRISTER YOUR DEVICE</a></h5>
                        <div class="avatar">
                                <a href="#">      
                                     <img src="./images/register-now.png" alt="" class="img-responsive img-square" />
                                </a>
                        </div>
                        <p> <a href="#">Register your device now</a></p>
                    </div>
                </div>
                </div>
            </div>
        </div>      
        </div>
    </section>